<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados de busqueda</title>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/search.css">
</head>

<body>
  <header>
    <div class="logo">
      <svg class="h-8 w-8 text-primary" fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
          d="M12.0799 24L4 19.2479L9.95537 8.75216L18.04 13.4961L18.0446 4H29.9554L29.96 13.4961L38.0446 8.75216L44 19.2479L35.92 24L44 28.7521L38.0446 39.2479L29.96 34.5039L29.9554 44H18.0446L18.04 34.5039L9.95537 39.2479L4 28.7521L12.0799 24Z"
          fill="currentColor" fill-rule="evenodd"></path>
      </svg>
      <h1>DevJobs</h1>
      <nav>
        <a href="">Inicio</a>
        <a href="">Empleos</a>
      </nav>
    </div>


    <div>
      <a href="">Subir CV</a>
    </div>
  </header>
  <main>
    <section>
      <h1>Encuentra tu próximo trabajo</h1>

      <p>Explora miles de oportunidades en el sector tecnológico</p>
    </section>
    <section>
      <form role="search">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-search">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M21 21l-6 -6" />
        </svg>

        <input required type="text" placeholder="Buscar empleos por título, habilidad o empresa">
      </form>
      <div>
        <button>
          Tecnología
        </button>

        <button>
          Ubicación
        </button>

        <button>
          Tipo de contrato
        </button>

        <button>
          Nivel de experiencia
        </button>


      </div>
    </section>
    <section>
      <h2>Resultados de búsqueda</h2>
      <div>
        <article>
          <div>

            <h3>Ingeniero de software</h3>
            <p>Empresa: Tech Solutions | Remoto</p>
            <p>Buscamos un ingeniero de software con experiencia en desarrollo web y conocimientos en JavaScript, React
              y Node.js. El candidato ideal debe ser capaz de trabajar en equipo y tener buenas habilidades de
              comunicación.</p>
          </div>
          <div>
            <button>Aplicar</button>
          </div>
        </article>
        <article>
          <div>

            <h3>Analista de Datos</h3>
            <p>Data Driven Co. | Ciudad de México</p>
            <p>Estamos buscando un analista de datos con experiencia en el manejo de grandes conjuntos de datos y
              herramientas de visualización. Se requiere conocimiento en SQL, Python y R.</p>
          </div>
          <div>
            <button>Aplicar</button>
          </div>
        </article>
        <article>
          <div>

            <h3>Desarrollador de Aplicaciones Móviles</h3>
            <p>Mobile Apps Ltd. | Guadalajara

            </p>
            <p>Buscamos un desarrollador de aplicaciones móviles con experiencia en iOS y/o Android. El candidato debe
              tener conocimientos en Swift, Kotlin y el desarrollo de interfaces de usuario.</p>
          </div>
          <div>
            <button>Aplicar</button>
          </div>
        </article>
        <article>
          <div>

            <h3>Ingeniero de DevOps</h3>
            <p>Cloud Services SA | Remoto

            </p>
            <p>Estamos buscando un ingeniero de DevOps con experiencia en la gestión de infraestructuras en la nube,
              automatización de procesos y herramientas de integración continua. Se requiere conocimiento en AWS, Azure
              o GCP.</p>
          </div>
          <div>
            <button>Aplicar</button>
          </div>
        </article>
      </div>
    </section>
  </main>
  <div>
    <nav class="pagination">
      <a href="#">
        <span class="chevron-left"></span>
      </a>
      <a href="#" class="page-selected">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">
        <span class="chevron-right"></span>
      </a>
    </nav>
  </div>
</body>

</html>